| Test Case ID  | Description  | Test Executed by | Test Cycle 1 | Test Cycle 1 Update | Test Executed by | Test Cycle 2 | Test Cycle 2 Update|
| ------- | ------- | -------| ------- | ------- |-------|-------|-------|
| Landing_1 |Test to see if landing page is loading  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_2 |Test to see if the landing page displays news  | Nikita| Fail | API issue |Pallavi|Pass|-------|
| Landing_3 |Test to see if the news on the landing page are from the general category | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_4 |Test to see the functionality of the login button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_5 |Test to see the functionality of the register button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_6 |Test to see functionality of refresh button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_7	 |Test to see functionality of the News app button  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Landing_8 |	Test to see if the new articles can be expanded further  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_1	 |	Test the functionality when the correct format of credentials are entered  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_2 |Test the functionality when the incorrect format of email is entered  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_3 |Test the functionality when the username entered has less than 8 characters  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_4 |	Test the functionality when the password typed does not have atleast 8 characters with lowercase, uppercase and symbols  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Register_5 |Test the functionality when the confirmed password does not match the pasword initially typed  | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Login_1 |	Test the functionality when the correct credentials are entered  | Pallavi| Pass | ------- |Nikita|Pass|-------|
| Login_2 |Test the functionality when the incorrect credentials are entered | Nikita| Pass | ------- |Pallavi|Pass|-------|
| Setting_1 |		Test the functionality of the settings button  | Neha| Fail | Settings was not saved |Nikita|Pass|-------|
| Setting_2 |	Test the see if the settings are saved when correctly selected  | Neha| Pass | ------- |Nikita|Pass|-------|
| Setting_3 |		Test to see if error message is displayed when all the categories are unselected | Neha| Pass | ------- |Nikita|Pass|-------|
| Setting_4 |	Test the functionality of the Go back button | Neha| Pass | ------- |Nikita|Pass|-------|
| Dash_1 |Test to see if the dashboard loads | Neha| Pass | ------- |Pallavi|Pass|-------|
| Dash_2 |Test to see if news in the home tab is sorted in descending order of publishing date and time| Neha| Pass | ------- |Pallavi|Pass|-------|
| Dash_3 |Test to see pagination for the news in the home tab| Neha| Pass | ------- |Pallavi|Pass|-------|
| Dash_4 |Test to see if the merged news in the home tab reflects the categories selected in settings| Neha| Pass | ------- |Nikita|Pass|-------|
| Navbar_1 |Test to see the functionality of category tabs | Neha| Pass | ------- |Nikita|Pass|-------|
| Navbar_2 |Test to see if the news is sorted in the category tabs in descending order of the publishing date and time | Neha| Pass | ------- |Nikita|Pass|-------|
| Navbar_3 |	Test to see the pagination in category tabs | Neha| Pass | ------- |Nikita|Pass|-------|
| Navbar_4 |	Test to see the descending order sorting in the paginated category tabs| Neha| Pass | ------- |Nikita|Pass|-------|
| Searchbar_1	 |Test when search word is entered in the search bar | Neha| Pass | ------- |Nikita|Pass|-------|
| Searchbar_2 |	Test when advanced searching is used in the search bar  | Neha| Fail | Logic not working |Nikita|Pass|-------|
| Searchbar_3	 |	Test when no search word is entered in the search bar| Neha| Pass | ------- |Nikita|Pass|-------|
| Logout_1 |Test the functionality of the Log out button  | Nikita| Pass | ------- |Neha|Pass|-------|
