

.container-1{
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  width:30%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image{
  width: 100px;
  height: 200px;
  border-radius: 15px 0px 0px 15px;
  overflow: hidden;
  display:flex;
  justify-content: left;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.image1{
  width: 300px;
  height: 570px;
  border-radius: 15px 0px 0px 15px;
  overflow: hidden;
  display:flex;
  justify-content: left;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.content{
  padding: 25px;
  display: flex;
  max-width: 300px;
  position: relative;
  justify-content: left;  
  line-height: 25px;
}

.content_register{
  padding: 25px;
  display: flex;
  max-width: 350px;
  position: relative;
  justify-content: left;  
  line-height: 17px;
}

.btn-primary{
  background-color: blue !important;
  border-color: Blue !important;
  margin-top: 20px;
  width: 100%;
}

.Sign-Up-Text{
  text-align: center;
  margin-top: 25px;

}



hr.solid {
  border-top: 1px solid rgb(161, 161, 161);
}

hr.solid1 {
    margin-top: 25px;
  border-top: 1px solid rgb(161, 161, 161);
}

.Sign-Up-Text, .Forgot-Password a{
  color: #5603AD;
}





body{
  margin: 0;
  font-family: sans-serif;
  background-color: #222121;
}
nav{
  margin-bottom: 40px;
}
img{
  max-width: 500px;
  transition: all 0.7s ;
}

.Hover-effect:hover{
  transform:  translateY(-3px) scale(1.01);

}
.Hover-effect:hover img{
  transform:  translateY(-5px) scale(1.02);
  box-shadow: 10px 9px 17px -10px rgba(0,0,0,0.28);
}
h3{
  font-size: 1.55rem;
  color: white;
}
h2{
  font-size: 1.55rem;
}




.searc-bar{
  justify-content: center;
}

/* #effect ********************** */

.Hover-effect {
  position: relative;
}
:root{
  --underline_color: red;
  --underline-hight:0.175rem;
}
.Hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--underline-hight);
  background-color: var(--underline_color);
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}



.Hover-effect:hover::after {
  transform: scale(1, 1);
}
nav{
  margin-bottom: 40px;
}
img{
  max-width: 400px;
  transition: all 0.7s ;
}

.Hover-effect:hover{
  transform:  translateY(-3px) scale(1.01);

}
.Hover-effect:hover img{
  transform:  translateY(-5px) scale(1.02);
  box-shadow: 10px 9px 17px -10px rgba(0,0,0,0.28);
}
h3{
  font-size: 1.55rem;
}
h2{
  font-size: 1.55rem;
  color:white;
}

.news{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}
.news-box{
  transition: all 0.3s ;
  text-decoration: none;
  color: rgb(29, 25, 25);
max-width: 100%;
  background-color:222;
  padding: 20px;
}

.news-box:hover{
  text-decoration: none;
  color: rgb(29, 25, 25);;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}


.searc-bar{
  justify-content: center;
}

/* #effect ********************** */

.Hover-effect {
  position: relative;
}
:root{
  --underline_color: #5b308a;
  --underline-hight:0.175rem;
}
.Hover-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--underline-hight);
  background-color: var(--underline_color);
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}



.Hover-effect:hover::after {
  transform: scale(1, 1);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5b308a;
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5603AD;
  color: white;
}

.container-nav {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.topnav-right {
  float: right;
}

.topnav .refresh {
  float: right;
}

.refresh button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
}

.welcome-text {
  width: 75%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.tab {
  margin-top: 25px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #964ce6;
  border-radius: 10px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #5603AD;
}

.container-buttons {
  padding-left: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.container-settings{
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width:700px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.content-settings{
  padding: 25px;
  display: flex;
  max-width: 500px;
  width: 400px;
  position: relative;
  justify-content: left;  
  line-height: 25px;
}



.pagination {
  display: inline-block;
  text-align: center;

}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

.pagination a.active {
  background-color: #4CAF50;
  color: black;
}

.pagination a:hover:not(.active) {background-color: black;}
