| ID| Description                                 | Testing first round | Testing first round - Comments             | Testing second round |
| - | ------------------------------------------  | ------------ | ----------------------------------- | ------------ |
| 1 | Integration Testing between UX and Databases - sign up    | Fail         | No functional Database              | Pass         |
| 2 |Integration Testing between UX and Databases - sign up     | Fail         | No functional Database              | Pass         |
| 3 | Integration Testing between UX and Databases - Login      | Fail         | No functional Database              | Pass         |
| 4 | Integration Testing between UX and Databases - Login      | Fail         | No functional Database              | Pass         |
| 5 | Integration between UX, API and Database - User Dashboard | Fail         | No functional Database and API            | Pass         |
| 6 | Integration between UX, API and Database - Settings       | Fail         | No functional Database and API            | Pass         |
| 7 | Integration between UX and API - Navigation bar           | Fail         | No functional Database and API             | Pass         |
| 8 | Integration between UX and API - Landing page news        | Fail         | No functional Database and API             | Pass         |

